
// =========================================================== Nextflow configuration =================================================================== //

// Using Docker to get containers
docker {
    enabled = true
}


// Exporting an API KEY
env {  
    NCBI_API_KEY='7b9fd7349af48ba31d35150ecb0bc3fdfc09'
}


// Defining which container is used by each process that needs one
//The stat analysis process is executed in a docker container build on DockerHub for this purpose

process { 
    withName : fastqConversion {
                    container = "evolbioinfo/sratoolkit:v2.10.8"
                    cpus = 1
                    } 
    withName : genomeIndexation {
                    container = "evolbioinfo/star:v2.7.6a"
                    cpus = 8
                    } 
    withName : mappingFastQFiles {
                    container = "evolbioinfo/star:v2.7.6a"
                    cpus = 4
                    memory = 32.GB
                    }
    withName : bamIndex {
                    container = "evolbioinfo/samtools:v1.11"
                    }
    withName : countingReads {
                    container = "evolbioinfo/subread:v2.0.1"
                    } 
    withName : statAnalysis {
                    container = "leilaoutem/rtools_stat:v2020.11.22" 
                    } 
}
