docker {
    enabled = true
}

process { 
    withName : conversion_FASTQ {
                    container = "evolbioinfo/sratoolkit:v2.10.8"
                    cpus = 1
                    } 
    withName: fastqc {
        	container="evolbioinfo/fastqc:v0.11.8"
        	cpus=16
        	}
    withName : make_STAR_index {
                    container = "evolbioinfo/star:v2.7.6a"
                    cpus = 16
                    memory = 64.GB
                    } 
    withName : map_FASTQ {
                    container = "evolbioinfo/star:v2.7.6a"
                    cpus = 16
                    memory = 32.GB
                    }
    withName : index_BAM {
                    container = "evolbioinfo/samtools:v1.11"
                    cpus = 16
                    memory = 32.GB
                    }
    withName : count_reads {
                    container = "evolbioinfo/subread:v2.0.1"
                    } 
    withName : counts_analysis {
                    container = "mdjaff/r-base:4.0.3" 
                    } 
}
